@model CourierComment

<input type="text" asp-for="Comment" class="form-control mr-3" placeholder="Yorum Yap">
<span asp-validation-for="Comment" class="text-danger"></span>
<button class="btn btn-primary" type="submit">Yorum Yap</button>