

<div class="container padding-bottom-3x mb-2">
    <div class="row justify-content-center">
        <div class="col-lg-8 col-md-10">
            <h2>Parolanızı mı unuttunuz?</h2>
            <form class="card mt-4" asp-controller="Courier" asp-action="CourierForgotPassword" method="post">
                <div class="card-body">
                    <div class="form-group">
                        <label for="email-for-pass">E-posta adresinizi giriniz</label>
                        <input class="form-control" name="courieremail" type="text" id="email-for-pass" required=""><small class="form-text text-muted">Kayıt olurken kullandığınız e-posta adresini yazın. Ardından bu adrese bir kod göndereceğiz.</small>
                    </div>
                </div>
                <div class="card-footer">
                    <button class="btn btn-primary" type="submit">Kod Gönder</button>
                </div>
            </form>
        </div>
    </div>
</div>
<link href="~/css/ForgotPassword.css" rel="stylesheet" />