@model Courier

@await Component.InvokeAsync("CourierNavbar")
<div class="container p-0">
    <h1 class="h3 mb-3" style="color:#ffffff;">Ayarlar</h1>
    <div class="row">
        <div class="col-md-5 col-xl-4">

            <div class="card">
                <div class="card-header">
                    <h5 class="card-title mb-0">Profil Ayarları</h5>
                </div>

                <div class="list-group list-group-flush" role="tablist">
                    <a class="list-group-item list-group-item-action active" data-toggle="list" href="#photo" role="tab">
                       Hesap Ayarları
                    </a>
                    <a class="list-group-item list-group-item-action" data-toggle="list" href="#password" role="tab">
                        Şifre
                    </a>
                </div>
            </div>
        </div>

        <div class="col-md-7 col-xl-8">
            <div class="tab-content">
        
                <div class="tab-pane fade show active" id="account" role="tabpanel">
                    <div class="card">
                        <div class="card-header">

                            <h5 class="card-title mb-0">Hesap Ayarları</h5>
                        </div>
                        <div class="card-body">
                            <form asp-action="CourierSettings" asp-controller="Courier" method="post">
                                <div class="form-row">
                                    <div class="form-group col-md-6">
                                        <label for="inputFirstName">Ad</label>
                                        <input asp-for="CourierName" type="text" class="form-control" id="inputFirstName" placeholder="Ad">
                                    </div>
                                    <div class="form-group col-md-6">
                                        <label for="inputLastName">Soyad</label>
                                        <input asp-for="CourierLastName" type="text" class="form-control" id="inputLastName" placeholder="Soyad">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="inputEmail4">E-Posta</label>
                                    <input asp-for="CourierEmail" type="email" class="form-control" id="inputEmail4" placeholder="E-Posta">
                                </div>


                                <button type="submit" class="btn btn-primary">Kaydet</button>
                            </form>

                        </div>
                    </div>

                </div>
                <div class="tab-pane fade" id="password" role="tabpanel">
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title">Şifre</h5>

                            <form asp-action="CourierPasswordSettings" asp-controller="Courier">
                             
                                <div class="form-group">
                                     
                                    <label for="inputPasswordCurrent">Eski Şifreniz</label>
                                    <input asp-for="CourierPassword" type="password" class="form-control" id="inputPasswordCurrent">
                                    <small><a href="#">Önceki Şifreniz</a></small>
                                </div>
                                <div class="form-group">
                                    <label for="inputPasswordNew">Yeni Şifre</label>
                                    <input  asp-for="CourierPassword" type="password" class="form-control" id="inputPasswordNew">
                                </div>
                                <div class="form-group">
                                    <label for="inputPasswordNew2">Yeni Şifre Tekrar</label>
                                    <input  asp-for="CourierPassword" type="password" class="form-control" id="inputPasswordNew2">
                                </div>
                                <button type="submit" class="btn btn-primary">Kaydet</button>
                            </form>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>
<link href="~/css/CourierSettings.css" rel="stylesheet" />