<!--model CourierHomeVM
<div class="container py-5 px-4">
    <div class="row rounded-lg overflow-hidden shadow">-->
        <!-- Users box-->
        <!--<div class="col-5 px-0">
            <div class="bg-white">

                <div class="bg-gray px-4 py-2 bg-light">
                    <p class="h5 mb-0 py-1">Recent</p>
                </div>

                <div class="messages-box">
                    <div class="list-group rounded-0">
                        <a class="list-group-item list-group-item-action active text-white rounded-0">
                            <div class="media">

                                        <img src="" alt="user" width="50" class="rounded-circle">
                                        <div class="media-body ml-4">
                                            <div class="d-flex align-items-center justify-content-between mb-1">
                                                <h6 class="mb-0"</h6>
                                            </div>
                                        </div>
                                    }
                                }

                            </div>
                        </a>
                    </div>
                </div>

            </div>
        </div>-->
        <!-- Chat Box-->
        <!--<div class="col-7 px-0">
            <div class="px-4 py-5 chat-box bg-white">
                foreach (var item in Model.Chat)
                {-->
                    <!-- Sender Message-->
                    <!--<div class="media w-50 mb-3">
                        <div class="media-body ml-3">
                            <div class="bg-light rounded py-2 px-3 mb-2">
                                <p class="text-small mb-0 text-muted"></p>
                            </div>
                        </div>
                    </div>

                }

                foreach (var item in Model.Chat)
                {-->
                    <!-- Reciever Message-->
                    <!--<div class="media w-50 ml-auto mb-3">
                        <div class="media-body">
                            <div class="bg-primary rounded py-2 px-3 mb-2">
                                <p class="text-small mb-0 text-white"></p>
                            </div>
                        </div>
                    </div>
                }-->



                <!-- Typing area -->
                <!--<form asp-controller="Chat" asp-action="Chat" class="bg-light">
                    <div asp-validation-summary="All" class="input-group">
                        <input type="text" asp-for="Chat" placeholder="Type a message" aria-describedby="button-addon2" class="form-control rounded-0 border-0 py-4 bg-light">
                        <span asp-validation-for="Chat" class="text-danger"></span>
                        <div class="input-group-append">
                            <button id="button-addon2" type="submit" class="btn btn-link"> <i class="fa fa-paper-plane"></i></button>
                        </div>
                    </div>
                </form>

            </div>
        </div>
    </div>
</div>
<link href="~/css/Messenger.css" rel="stylesheet" />-->

